h1 {
    text-align: center;
}

p {
    text-align: center;
}

.error {
    color: #b00020;
    text-align: center;
}

#form_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}